html {
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-color: black;
    font-family: sans-serif;
}

body {
    margin: 0;
}

#display_box {
    background-image: radial-gradient(black, grey, white);
    color: white;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 0 12px black;
    width: 25%;
    aspect-ratio: 1/1;
    margin: 3% auto;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 0 25px black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: 2s breathe ease-out alternate infinite;
}

@keyframes breathe {
    0% {
        box-shadow: 0 0 10px rgb(0, 0, 0);
    }
    100% {
        box-shadow: 0 0 50px rgb(0, 0, 0);
    }
} 

.preview {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
}

#gallery {
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 31% 31% 31% ;
    justify-content: space-evenly;
    place-items: center;
}

#gallery img {
    width: 80%;
    margin: 5% auto;
    transition: 0.15s ease;
}

#gallery img:hover {
    transform: scale(1.1);
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 25px white;
}
